.figure{
    width: 800px;
    height: 700px;
    border: 2px solid var(--secondary);
    border-radius: 15px;
    background-color: var(--primary);
}

.img{
    width: 750px;
    height: 500px;
    padding: 25px;
    border-bottom: 4px solid var(--secondary);
}

.caption{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0px; 
    /* padding: 0px; */
}

p{
    margin: 10px;
    font-size: 1.5em; 
    color: var(--secondary);
    font-weight: bold;
}

.frame{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    background-color: var(--primary)
}