@import url('../../context/variables.css');

.header{
    background-color: var(--secondary);
    height: 150px;
    display: flex;
    flex-direction: column;
    color: var(--primary);
    align-items: center;
    font-size: 3em;
    margin-top: 0px;
}

.homeButton{
    background-color: var(--primary);
    color: var(--secondary);
    margin-left: 30px;
}
.backButton{
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    width: 100vw;
}

.text{
    margin-bottom: 30px;
}

.themeButton{
    color: var(--secondary);
    background-color: var(--primary);
}