@import '../../context/variables.css';

.countryElements{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

a{
    text-decoration: none;
}

li{
    display: inline;
    margin: 10px;
    color: var(--primary);
    list-style: none;
}

button{
    background-color: var(--secondary);
    color: var(--primary);
    width: 100px;
    height: 25px;
    border: none;
    outline: none;
    filter: drop-shadow(1px 1px 1px var(--tertiary))
}

button:active{
    filter: drop-shadow(.5px .5px .5px var(--tertiary))
}

div ul{
    display: flex;
    justify-content: center;
}

.frame {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
}
